<ul>
  <li><%= link_to('Eventos', root_path) %></li>
  <li><%= link_to('Solicitudes', applications_path) %></li>
  <li><%= link_to('Asistentes', asistants_path) %></li>
  <li><%= link_to('Salones', rooms_path) %></li>
</ul>
